<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>Hello, {{ title }}</h1>
  <p>Welcome to programming with angular 🎉</p>


  <span>

    Programador: {{programador}}

  </span>
<h1>"Everybody in this country should learn how to program a computer... because it teaches you how to think.</h1>

    <img src="assets/descarga02.png"  width="600" height="400">


</body>
</html>